body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.corps {
    background-color: #C0600B;
}

.container {
    max-width: 1200px;
    margin:0 auto;
    padding: 2rem;
}

/* Ajout de styles pour la barre de menu */
.home {
    background: url('images/fond1.jpg') no-repeat ;
    background-size: cover;
    background-position:top right;
    /*height: 50vh;*/
}

#navbar, .navbar{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
}
.navbar{
    background: #C0600B;
}

.navbarblanc{
    background: white;
}

.navbar-toggle {
    display: none;
    font-size: 3rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-item{
    padding: 0.5rem;
}

.nav-links a{
    font-size: 1.3rem;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 1rem;
}

.navbarblanc .nav-links a{
    color: #C0600B;
}
.nav-links a.active, .nav-links a:hover{
    background: #4E7317;
    color: white;
}

.nav-links .contact-button {
    background-color: #3c5403; /* Couleur du bouton */
    color: #ffffff; /* Couleur du texte */
    padding: 1rem 1rem; /* Espacement interne */
    border-radius:50px ; /* Coins arrondis */
    text-decoration: none; /* Enlève le soulignement */
    transition: background-color 0.3s; /* Effet de transition */
    border: solid #fff; 
    text-transform: none;
}

.contact-button:hover {
    background-color: #9db013; /* Couleur au survol */
}

/* Ajout de styles pour le logo */
.navigation img {
    width: 110px; /* Ajustez la largeur selon vos besoins */
    height: auto; /* Conserve le ratio d'aspect de l'image */
    margin-left:  1rem;
    margin-bottom: 0.2rem;
}



.welcome-section {
    text-align: center; /* Centre le texte et les boutons */
    margin: 8rem 0px; /* Marge autour de la section */
    width: 50%;
}

.welcome-text {
    font-size: 6rem; /* Taille de police pour le texte de bienvenue */
    color: #fff; /* Couleur du texte */
}

.message{
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 6em; /* Marge au-dessus des boutons */
}

.action-button {
    background-color: white;
    color: #C0600B; /* Couleur du texte */
    padding: 1rem 2rem; /* Espacement interne */
    border-radius: 50px; /* Coins arrondis */
    text-decoration: none; /* Enlève le soulignement */
    margin: 0 1.5rem; /* Marge entre les boutons */
    transition: background-color 0.3s; /* Effet de transition */
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 5rem;
}

.light{
    background-color: transparent;
    border: solid;
    border-color: #ffffff;
    color: white;
}

.action-button:hover, .menu-btn:hover {
    background-color: #C0600B;
    color: white; /* Couleur au survol */
} 


/* Header Styles */
header {
    text-align: center;
    margin-bottom: 3rem;
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-size: 6rem;
    color: #C0600B;
    margin: 4rem 0 3rem;
}

/* Navigation Buttons */
.menu-nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.menu-btn {
    padding: 0.8rem 3rem;
    font-size: 2rem;
    font-weight: bold;
    background-color: #3c5403;
    border: none;
    border-radius: 25px;
    margin-left: 4rem;
}

.menu-btn a{
    text-decoration: none;
    color: WHITE;
}

/* Menu Grid */
.menu-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 20px;
}

.menu-item {
    flex: 0 0 calc(50% - 1rem);
    margin-bottom: 2rem;
}

.item-content {
    display: flex;
    gap: 1rem;
}

.item-info {
    flex: 0 0 60%;
}

.item-info h3 {
    font-size: 1.8rem;
    margin: 0 0 0.5rem 0;
}

.price {
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.description {
    color: #666;
    line-height: 1.4;
}

.item-image {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
}

.item-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}


/* Page de réservation*/

form {
    display: flex;
    flex-direction: column;
    max-width: 80rem; /* Largeur maximale du formulaire */
    margin: 0 auto; /* Centre le formulaire */
    padding: 2rem; /* Espacement interne */
    background-color: #ffffff; /* Fond du formulaire en blanc */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.form-group {
    display: flex; /* Utilise flexbox pour aligner le label et l'input sur la même ligne */
    align-items: center; /* Centre verticalement les éléments */
    margin-bottom: 1.5rem; /* Espace entre les lignes */
}

.form-group label {
    margin-right: 10px; /* Espace entre le label et l'input */
    width: 150px; /* Largeur fixe pour les labels */
    font-weight: bold; /* Met le label en gras */
    font-size: 18px;
}

.responsive-input {
    flex: 1; /* Prend tout l'espace restant */
    padding: 0.5rem; /* Espacement interne */
    border: 1px solid #C0600B; /* Bordure orange pour les inputs */
    border-radius: 5px; /* Coins arrondis */
    font-size: 1rem; /* Taille de police */
    width: auto; /* Permet à l'input de s'adapter à la taille de l'image */
}

.form-group .nom , .prenom{
    align-items:right;
}

.form-group .input-container {
    display: flex;
    align-items: center;
}

.input-container {
    margin-right: 20px; /* Espace entre l'input prénom et le label nom */
}

.form-group input, .form-group textarea {
    flex: 1; /* Prend tout l'espace restant */
    padding: 0.5rem; /* Espacement interne */
    border: 1px solid #C0600B; /* Bordure orange pour les inputs et textarea */
    border-radius: 5px; /* Coins arrondis */
    font-size: 1rem; /* Taille de police */
    width: 100%; /* Assure que le textarea prend toute la largeur disponible */
    height: 2rem;
}

.form-group textarea {
    height: 8rem;
}

.form-group .boxPrenom,  .form-group .boxNom{
    display: flex;
    flex-direction: row;
   width:  auto;
}

.form-group .boxNom{
    padding-left: 1.7rem;
}

.form-group .boxNom label, .form-group .boxPrenom label{
    padding-top: 1rem;
}

.form-group .boxNom input, .form-group .boxPrenom input{
    width: 22.8em;
}

.form-group .boxNom label{
    margin-right: 8px;
}

.form-group input:focus {
    border-color: #C0600B; /* Couleur de la bordure au focus */
    outline: none; /* Enlève le contour par défaut */
}



.button-container {
    display: flex;
    justify-content: center; /* Centre le bouton */
    margin-top: 2rem; /* Marge au-dessus du bouton */
}

.submit-button {
    background-color: #4E7317; /* Couleur du bouton */
    color: white; /* Couleur du texte */
    padding: 0.8rem 2rem; /* Espacement interne */
    border-radius: 50px; /* Coins arrondis */
    font-size: 1.2rem; /* Taille de police */
    cursor: pointer; /* Curseur pointer */
    transition: background-color 0.3s; /* Effet de transition */
}

.submit-button:hover {
    background-color: #85c329; /* Couleur au survol */
}

/* Page galerie*/

.resto_photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.resto_photo .card {
    border: 2px solid #ddd; /* Bordure autour de chaque carte */
    border-radius: 10px; /* Coins arrondis pour le cadre */
    overflow: hidden; /* Pour s'assurer que le contenu ne déborde pas */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère pour le cadre */
    transition: transform 0.3s; /* Effet de transition pour l'animation */
    width: 30rem;
    height: 30rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
    margin-left: 2rem;
    background-color: white;

}

.resto_photo .card:hover {
    transform: scale(1.05); /* Effet de zoom au survol */
}

.resto_photo .card img {
    width: 100%; /* Prend toute la largeur de la carte */
    height: 40vh; /* Conserve le ratio d'aspect de l'image */
}

.resto_photo .card-body {
    padding: 1rem; /* Espacement interne pour le contenu de la carte */
    text-align: center; /* Centre le texte */
}




/* Media Queries */
@media screen and (max-width: 1500px) {
    
    /* Barre de menu*/
    .nav-item{
        padding: 0.5rem;
    }
    
    .nav-links a{
        font-size: 1.1rem;
        padding: 0.5rem 0.5rem;
    }

      /* titre*/
      .reservation-title .list-title{
        font-size: 4rem;
    }

    .welcome-section{
        margin-left: 3rem; 
        margin-top: 8rem;
        text-align: center; /* Centre le texte et les boutons */
        width: 60%;
    }

    .welcome-text {
        font-size: 5rem;
    }
    
    .message{
        font-size: 1.4em;
    }
    

}


@media screen and (max-width: 1200px) {

     /* Bare de menu*/
     .nav-links {
        display: none; /* Masquer les liens par défaut */
        flex-direction: column; /* Aligner les liens verticalement */
        position: absolute; /* Positionner le menu */
        top: 100px; /* Ajuster selon la hauteur de la barre de navigation */
        left: 0;
        right: 0;
        background: #f2c790; /* Couleur de fond du menu */
        height: 60vh;
    }

    .nav-item{
        padding-top: 2rem;
        text-align: center;
    }

    .nav-item a{
        font-size: 1.2em;
    }

    .nav-links.active {
        display: flex; /* Afficher les liens lorsque le menu est actif */
    }

    .navbar-toggle {
        display: block; /* Afficher le bouton sur les petits écrans */
        padding-right: 2rem;
    }
   

    .welcome-section{
        margin-left: 2rem;
        text-align: center; /* Centre le texte et les boutons */
        width: 65%;
    }

    .welcome-text {
        font-size: 5rem;
    }
    
    .message{
        font-size: 1.4em;
    }
    
    .button-container {
        margin-top: 5em; /* Marge au-dessus des boutons */
    }
    
    .action-button {
        padding: 1.5rem 2rem; /* Espacement interne */
        margin: 0 2rem; /* Marge entre les boutons */
        font-size: 1.4rem;
    }

    .list-title {
        font-size: 4rem;
    }

    footer{
        flex-direction: column;
    }
}


@media screen and (max-width: 952px) {

   /* Page accueil*/

   .welcome-section {
    width: 80%;

 }



 .welcome-text {
     font-size: 4.5rem;
 }
 
 .message{
     font-size: 1.1em;
 }
 
 .button-container {
     margin-top:6em; /* Marge au-dessus des boutons */
 }
 
 .list-title {
    font-size: 3.3rem;

}
}


@media screen and (max-width: 768px) {

    /* Page menu*/
    .menu-nav {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .menu-item {
        flex: 0 0 100%;
    }

    .item-content {
        flex-direction: column;
    }

    .item-info, .item-image {
        flex: 0 0 100%;
    }

    .menu-title {
        font-size: 3rem;
    }

    .action-button {
        margin: 0 1rem; /* Marge entre les boutons */
    }

    .resto_photo .card {
        flex: 0 0 calc(50% - 1rem); /* 2 cards par ligne sur mobile */
    }
}

hr {
    border: none;
    border-top: 2px solid #000;
    margin: 2rem 0;
}

.menu-sections {
    display: flex;
    gap: 4rem;
    padding: 4rem 0;
}

.menu-section {
    flex: 1;
}

.section-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.section-icon {
    width: 2rem;
    height: 2rem;
}

.section-icon img{
    width: 2rem;
    height: 2rem;
    background-color:#faf5ed
}

.section-header h2 {
    font-size: 2rem;
    margin: 0;
}

.boisson-list, .dessert-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.boisson-row, .dessert-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.b-nom, .d-nom {
    font-size: 1rem;
}

.b-prix, .d-prix {
    font-size: 1rem;
    white-space: nowrap;
}

/* Ajout de styles pour le tableau des employés */
table {
    width: 80%; /* Ajustez la largeur selon vos besoins */
    margin: 2rem auto; /* Centre le tableau horizontalement */
    border-collapse: collapse; /* Supprime les espaces entre les cellules */
    margin-bottom: 4rem;
}

th, td {
    padding: 1rem; /* Espacement interne des cellules */
    text-align: left; /* Alignement du texte à gauche */
    border: 1px solid #ddd; /* Bordure légère autour des cellules */
}

th {
    background-color: #5f753e; /* Couleur de fond pour les en-têtes */
    color: #fff; /* Couleur du texte des en-têtes */
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Couleur de fond pour les lignes paires */
}

tr:hover {
    background-color: #f1f1f1; /* Couleur de fond au survol des lignes */
}

/* Styles pour la section des témoignages */
.testimonials .container {
    
    margin-bottom: 10rem;
}

.testimonial-slider {
    display: flex; /* Utilise flexbox pour le diaporama */
    flex-direction: column;
    margin: 0;
    background: white;
    border-radius: 5px;
}

.testimonial {
    display: flex;
    width: 100%; /* Chaque témoignage occupe 100% de la largeur */
    box-sizing: border-box; /* Inclut le padding et la bordure dans la largeur */
    padding: 2rem 5rem; /* Espacement interne */
    transition: transform 0.5s ease; /* Transition pour l'effet de diaporama */
    border-radius: 5px;
}

.testimonials .space{
    background: #C0600B;
    width: 100%;
    height: 2rem;
}

.testimonial .texte{
    padding: 5rem;
} 

.testimonial img {
    width: 20rem; /* Largeur de l'image */
    height: 20rem; 
    border-radius: 50%; /* Pour un effet circulaire */
    margin-bottom: 1rem; /* Marge en bas de l'image */
    
}

.testimonial h3 {
    font-size: 1.5rem; /* Taille de police pour le nom */
    margin: 0.5rem 0; /* Marge autour du nom */
    text-align: center;
}

.testimonial p {
    font-size: 1rem; /* Taille de police pour le texte du témoignage */
    color: #000; /* Couleur du texte */
    text-align: left;
}

/* Styles pour la section de contact */
.imgback{
    background: url('images/back.jpg') no-repeat ;
    background-size: cover;
}

.contacts {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    margin-bottom: 70px;
}

.contacts .title, .liste-title, .galerie-title, .test-title{
    color: white;
}


.restaurant-info {
    display: flex; /* Utilise flexbox pour aligner les éléments sur une même ligne */
    justify-content: space-around; /* Espace entre les éléments */
    align-items: center; /* Centre verticalement les éléments */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si l'espace est insuffisant */
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 5rem;
}

.info-item {
    background-color: #f9f9f9; /* Couleur de fond pour les rectangles */
    border: 1px solid #ccc; /* Bordure légère */
    border-radius: 8px; /* Coins arrondis */
    padding: 15px; /* Espacement interne */
    width: 200px; /* Largeur fixe pour un cadre carré */
    height: 150px; /* Hauteur fixe pour un cadre carré */
    display: flex; /* Utilise flexbox pour aligner l'icône et le texte */
    flex-direction: column; /* Aligne les éléments en colonne */
    justify-content: center; /* Centre verticalement les éléments */
    align-items: center; /* Centre horizontalement les éléments */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.info-item i {
    font-size: 2rem; /* Taille de l'icône */
    margin-bottom: 10px; /* Espace entre l'icône et le texte */
    color: #4E7317;
}

.info-item h4 {
    font-size: 1.5rem; /* Taille de l'icône */
}


.restaurant-info p {
    margin: 5px 0;
}

.phone {
    background: #C0600B;
    color: white;
}



form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form button {
    padding: 12px 20px; /* Augmente l'espacement interne pour un bouton plus grand */
    background-color: #4E7317; /* Couleur de fond verte */
    color: white; /* Couleur du texte */
    border: none; /* Pas de bordure */
    border-radius: 50px; /* Coins arrondis pour un effet plus doux */
    cursor: pointer; /* Curseur pointer */
    font-size: 18px;
    font-weight: bold; /* Taille de police augmentée */
    width: 200px; /* Largeur fixe pour le bouton */
    height: 4rem;
    transition: background-color 0.3s; /* Effet de transition */
}

form button:hover {
    background-color: #6d8e3d; /* Couleur au survol (vert plus foncé) */
}

/* Styles pour les liens utiles */

footer {
    display: flex;
    background-color:#C0600B;
}

.useful-links, .social-media {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 5rem ;
    margin-right: 15rem;
    padding: 10px;
    border-radius: 8px;
    width: 50%;
    color: white;
}

.useful-links {
    padding-left: 8rem;
}

.useful-links h3, .social-media h3 {
    font-size: 1.9rem;
    margin-bottom: 10px;
    text-align: center;
}

.useful-links ul, .social-media ul {
    list-style-type: none;
    padding-left:5rem ;
    display: flex;
}

.useful-links ul {
    flex-direction: column;
}

.useful-links li, .social-media li {
    margin: 5px 0;
    padding-bottom: 1rem;
    align-items: center;
}

.useful-links a, .social-media a {
    text-decoration: none;
    color: white;
}

.useful-links a:hover, .social-media a:hover {
    text-decoration: underline;
}

.social-media li {
    padding-left: 2rem;
}

.social-media li img{
    padding-bottom: 0.8rem;
    padding-left: 0.8rem;
    width: 35px;
}


.footerBlanc {
    background: white;
}

.footerBlanc a , .footerBlanc h3{
    color: #000000;
}



